body {
    background-color: #351431;
    font-family: "Philosopher", serif;
    color: #94958B;
}
table {
    border-style: double;
    border-color: #94958B;
    border-width: .5rem .5rem .5rem .5rem;
    table-layout: auto;
}
h2, h3, th, button {
    font-family: "Aclonica", serif;
    color: #8B0000;
    text-align: center;
}
td, input {
    text-align: center;
    word-wrap: break-word;
}
th, td {
    padding: .5rem .5rem .5rem .5rem;
    width: 6rem;
    min-width: 6rem;
}
button {
    background-color: #8B0000; 
    color: #94958B;
    font-family: "Aclonica", serif;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
}
button:hover {
    background-color: #351431;
}
