body {
    background-color: #351431;
    color: #94958B;
    font-family: "Philospher", serif;
}
h2, h3, h4 {    
    color: #8B0000;
    font-family: "Aclonica", serif;
}
b {
    font-family: "Aclonica", serif;
}
h2 {
    text-align: center;
}
#statblock-table {
    border-spacing: 10px;
}
input {
    background-color: #8B0000; 
    color: #94958B;
    font-family: "Philosopher", serif;
    font-size: medium;
    width: 10rem;
    vertical-align: middle;
}
input[type='number']{
    width: 2rem;
    vertical-align: middle;
}
#damage_heal {
    display: inline-block;
}
#search-area {
    margin: auto;
    width: 75%;
    text-align: center;
}
.abilities_table {
    width: max-content;
    text-align: center;
}
.flex_line {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 6px;
    vertical-align: middle;
}
.flex_line > div {
    margin: 2px;
    vertical-align: middle;
}
button {
    background-color: #8B0000; 
    color: #94958B;
    font-family: "Aclonica", serif;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
}
button:hover {
    background-color: #351431;
}
.dropdown {
    position: relative;
    display: inline-flex;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #351431;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
    text-align: center;
}
.show {display: inline-block;}