<!doctype html>
{% extends 'base.html' %}
{% block title %}CR Calculator{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica|Philospher">
    <script src="{{ url_for('static', filename='crcalc.js') }}"></script>
{% endblock %}
{% block content %}
        <h2>CR Calculator</h2>
        <p>Input the number of characters and their levels to be weighed against the number of monsters and their challenge ratings to determine the difficulty and total experience point value of an encounter.</p>
        <p>Number of <input type="number" id="num-players"> level <input type="number" id="player-level"> characters <button onclick="getPartyList()">Add Players</button></p>
        <p>Party Level List: <span id="party-list"></span></p>
        <p>
            <table>
                <tr>
                    <th>Easy</th>
                    <th>Medium</th>
                    <th>Hard</th>
                    <th>Deadly</th>
                </tr>
                <tr>
                    <td id='easy-threshold'></td>
                    <td id='medium-threshold'></td>
                    <td id='hard-threshold'></td>
                    <td id='deadly-threshold'></td>
                </tr>
            </table>
        </p>
        <p>Number of <input type="number" id="num-monsters"> CR <input id="monster-cr"> monsters <button>Add Monsters</button onclick="getMonsterCRs()"></p>
        <p>Monster CR List: <span id="cr-list"></span></p>
{% endblock %}