<!doctype html>
<html>
    <head>
        <title>Dangeons & Dragons</title>
    </head>
    <body>
        <h1>Dangeons & Dragons</h1>
        <p>Welcome to the home page adventurer!</p> 
        <p>This is a webapp filled with tools for running 5th edition Dungeons & Dragons.</p>
        <p>It has been made with css, javascript, html and python, all hosted as a flask web app.</p>
        <p>Try out the following links to aid you in your quest:</p>
        <ul>
            <li><a href="{{ url_for('dice_roller') }}">Dice Roller</a> - Roll a given string in multiple ways</li>
            <li>Statblock Finder</li>
        </ul>
    </body>
</html>
