<!doctype html>
{% extends 'base.html' %}
{% block title %}Monsterpedia{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='statblock.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica|Philospher">
<script src="{{ url_for('static', filename='dice.js') }}"></script>
<script src="{{ url_for('static', filename='monsters.js')}}"></script>
<script>
    // Display dropdown menus for roll buttons
    function showDropDown(string) {
        document.getElementById(string).classList.toggle("show");
    }
    // Close a dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
{% endblock %}
{% block content %}
<h2>Statblock Search</h2>
<p id="json_data" hidden>{{ monsters }}</p>
<div id="search-area"><input type="text" id="monster_name">  <button onclick="document.getElementById('result').innerHTML = searchMonsters()">Search</button></div>
<div id="result"></div>
{% endblock %}