<!doctype html>
{% extends 'base.html' %}
{% block title %}Monsterpedia{% endblock %}
{% block head %}
<script>
    // Search json_data for matching monster
    const fs = require('fs');
    function searchMonsters() {
        let string = document.getElementById('monster_name').value;
        let monsters = JSON.parse(document.getElementById("json_data").innerHTML);
        let stats = monsters[string.toLowerCase()];
        if (stats) {
            let statblock = `${stats["Name"]}\n${stats["Size"]}, ${stats["Type"]}, ${stats["Alignment"]}`;
            return statblock;
        }
        else {
            return `404 - '${string}' not found.`
        }
    }
</script>
{% endblock %}
{% block content %}
<p id="json_data" hidden>{{ monsters }}</p>
<span id="search area"><input type="text" id="monster_name"><button onclick="document.getElementById('result').innerHTML = searchMonsters()">Search Monsters</button></span>
<pre id="result"></pre>
{% endblock %}