<!doctype html>
<html>
    <head>
        <title>Character Sheet</title>
    </head>
    <body>
        <table>
            <tr>
                <td></td>
            </tr>
            <tr>
                <th>Character Name</th>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Class & Level</th>
                <th>Background</th>
                <th>Player Name</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Race</th>
                <th>Alignment</th>
                <th>Experience Points</th>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th>STR</th>
                <td>score</td>
                <td>mod</td>
            </tr>
            <tr>
                <th>DEX</th>
                <td>score</td>
                <td>mod</td>
            </tr>
            <tr>
                <th>CON</th>
                <td>score</td>
                <td>mod</td>
            </tr>
            <tr>
                <th>INT</th>
                <td>score</td>
                <td>mod</td>
            </tr>
            <tr>
                <th>WIS</th>
                <td>score</td>
                <td>mod</td>
            </tr>
            <tr>
                <th>CHA</th>
                <td>score</td>
                <td>mod</td>
            </tr>
        </table>
    </body>
</html>